<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.min.css" />
  </head>
  <body>
    <%- include('./partials/header', {title: title}); %>
    <div class="uk-container">
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-small uk-table-middle">
          <thead>
              <tr>
                  <th>Due</th>
                  <th>Status</th>
                  <th>Expected</th>
                  <th>Platform</th>
                  <th>Operator</th>
                  <th>Service To</th>
              </tr>
          </thead>
          <tbody>
            <% 
              departures.departures.all.forEach(function(item){
            %>
            <tr>
              <td><%= item.aimed_departure_time %></td>
              <% if(item.status === "LATE"){ %>
                <td style="color: red;"><span class="uk-margin-small-right" uk-icon="icon: history"></span> <%= item.status %></td>
              <% } else if(item.status === "ON TIME") { %>
                <td style="color: green;"><span class="uk-margin-small-right" uk-icon="icon: check"></span> <%= item.status %></td>
              <% } else if(!item.status) { %>
                <td>Unknown</td>
              <% } else { %> 
                <td><%= item.status %></td>
              <% } %> 
              <td><%= item.expected_departure_time %></td>
              <td><%= item.platform %></td>
              <td><%- include('partials/table/operator', {operator: item.operator, operator_name: item.operator_name}); %></td>
              <td><%= item.destination_name %></td>
            </tr>
            <%
              });
            %>
              
              <% if(!departures.departures.all.length){ %>
                <% include ./partials/table/no-records %>
              <% }; %>
          </tbody>
        </table>
      </div>
      
    </div>
    
    <div id="searchBox" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title">Station Code</h2>
          <input class="uk-input uk-margin-bottom" type="text" name="" id="search" placeholder="LAN">
          <button class="uk-button uk-button-secondary uk-modal-close" type="button" id="searchSubmit">Submit</button>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <script>

      $("#searchSubmit").click(function(event){
        event.preventDefault();
        code = $("#search").val();
        window.location.href = `/station/${code}`;
      });

      $("#search").keyup(function(event){
        if(event.which === 13){
          code = $("#search").val();
          window.location.href = `/station/${code}`;
        }
      });

    </script>
  </body>
</html>
