<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.min.css" />
    <style>
      .operator {
        display: block;
        padding: 0.5em;
        background-color: #ccc;
        text-align: center;
        border-radius: 3px;
      }

      .operator.virgintrains {
        background-color: #c3092d;
        color: #fff;
      }

      .operator.londonmidland {
        background-color: #72b42c;
        color: #fff;
      }

      .operator.caledoniansleeper {
        background-color: #08292E;
        color: #fff;
      }

      .operator.operator.londonoverground {
        background-color: #EF7B10;
        color: #fff;
      }

      .operator.northernrail {
        background-color: #262262;
        color: #fff;
      }

      .operator.scotrail {
        background-color: #12356f;
        color: #fff;
      }

      .operator.transpennine {
        background-color: #00a7e7;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/header', {title: title}); %>
    <div class="uk-container">
      <table class="uk-table">
        <thead>
            <tr>
                <th>Due</th>
                <th>Status</th>
                <th>Expected</th>
                <th>Platform</th>
                <th>Operator</th>
                <th>Service To</th>
            </tr>
        </thead>
        <tbody>
          <% 
            departures.departures.all.forEach(function(item){
          %>
          <tr>
            <td><%= item.aimed_departure_time %></td>
            <% if(item.status === "LATE"){ %>
              <td style="color: red;"><span class="uk-margin-small-right" uk-icon="icon: history"></span> <%= item.status %></td>
            <% } else if(item.status === "ON TIME") { %>
              <td style="color: green;"><span class="uk-margin-small-right" uk-icon="icon: check"></span> <%= item.status %></td>
            <% } else if(!item.status) { %>
              <td>Unknown</td>
            <% } else { %> 
              <td><%= item.status %></td>
            <% } %> 
            <td><%= item.expected_departure_time %></td>
            <td><%= item.platform %></td>
            <td><%- include('partials/table/operator', {operator: item.operator, operator_name: item.operator_name}); %></td>
            <td><%= item.destination_name %></td>
          </tr>
          <%
            });
          %>
            
            <% if(!departures.departures.all.length){ %>
              <% include ./partials/table/no-records %>
            <% }; %>
        </tbody>
      </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <script>
      $("#searchSubmit").click(function(event){
        event.preventDefault();
        code = $("#search").val();
        console.log(code);
        window.location.href = `/station/${code}`;
      });
    </script>
  </body>
</html>
